.sectionPrivate {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
  border: 1px solid var(--section-private-border);
  border-radius: 8px;
  padding: 10px 10px;
  background-color: var(--section-private-bg);
}
.content {
  min-height: 150px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--industrial-revolution);
}

.filtersWrap {
  display: flex;
  justify-content: center;
  padding: 0 15px 10px;
  padding: 20px 0;
}

.textResults {
  color: var(--font-main-color);
}

@media (min-width: 768px) {
  .content {
    min-height: 200px;
  }

  .filtersWrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 15px 10px;
    margin-bottom: 40px;
  }
}
