.chatRoom {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 152px);
  max-width: 979px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  background-color: var(--background-color);
}
.loadMore {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background-color: var(--background-color);
}
