.title {
  color: var(--popup-primary-font-color);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 125.1%;
  text-transform: uppercase;
}

.description {
  color: var(--font-main-color);
  text-align: center;
  font-family: Poppins;
  margin-top: 23px;
  font-size: 14px;
  font-weight: 500;
  line-height: 125.1%;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-top: 52px;
}
