.button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  color: var(--rbutton-text-color-hover);
}
