.button {
  display: flex;
  padding: 8px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.4s ease;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
  min-width: 100px;
  white-space: nowrap;
}

.button.small {
  padding: 8px 10px;
}

.button.medium {
  padding: 8px 30px;
}

.button.large {
  padding: 10px 60px;
}

.button.primary {
  background: var(--rbutton-primary-bg);
  color: var(--rbutton-font-color);
}

.button.secondary {
  /* background: none; */
  background: var(--rbutton-secondary-bg-hover);
  border-radius: 10px;
  border: 2px solid var(--rbutton-secondary-color);
  color: var(--rbutton-secondary-color);
  font-weight: 500;
  text-transform: capitalize;
}

.button.warning {
  background: none;
  border-radius: 20px;
  border: 2px solid var(--warning-color);
  color: var(--warning-color);
  font-weight: 500;
  text-transform: capitalize;
}

.button.primary:hover:not([disabled]) {
  background: var(--rbutton-primary-bg-hover);
}

.button.secondary:hover:not([disabled]) {
  background: var(--rbutton-secondary-bg-hover);
}

.button.warning:hover:not([disabled]) {
  background: var(--cosmic-red-light);
}

.button.text {
  background-color: transparent;
  border-radius: 20px;
  border: none;
  color: var(---rbutton-text-color);
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  min-width: fit-content;
}

.button.text:hover:not([disabled]) {
  color: var(--rbutton-text-color-hover);
  background-color: transparent;
}

.button:disabled {
  filter: grayscale(80%);
}
