.button {
  display: flex;
  padding: 8px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 11px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.4s ease;
  border: none;
  outline: none;
  cursor: pointer;
}

.button.small {
  padding: 8px 30px;
}

.button.medium {
  padding: 8px 50px;
}

.button.large {
  padding: 10px 60px;
}

.button.primary {
  background: var(--rbutton-bg-color);
  color: var(--rbutton-font-color);
}

.button.secondary {
  background: none;
  border-radius: 20px;
  border: 2px solid var(--rbutton-secondary-color);
  color: var(--rbutton-secondary-color);
}

.button.primary:hover:not([disabled]) {
  background: var(--rbutton-primary-bg-hover);
}

.button.secondary:hover:not([disabled]) {
  background: var(--rbutton-secondary-bg-hover);
}

.button.text {
  background-color: transparent;
  border-radius: 20px;
  border: none;
  color: var(---rbutton-text-color);
  padding: 0;
  font-size: 16px;
  font-weight: 400;
}

.button.text:hover:not([disabled]) {
  color: var(--rbutton-text-color-hover);
  background-color: transparent;
}

.button:disabled {
  filter: grayscale(80%);
}
