.messageList {
  display: flex;
  flex-grow: 1;
  grid-auto-flow: dense;
  flex-direction: column-reverse;
  gap: 18px;
  margin-top: 21px;
  overflow: hidden scroll;
}

.noMessages, .loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}