.messageListWrap {
  display: flex;
  flex-grow: 1;
  grid-auto-flow: dense;
  flex-direction: column-reverse;
  gap: 12px;
  /* margin-top: 21px; */
  overflow: hidden scroll;
  position: relative;
}

.noMessages {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray);
}

.messageList {
  display: flex;
  flex-grow: 1;
  grid-auto-flow: dense;
  flex-direction: column-reverse;
  gap: 12px;
  /* margin-top: 21px; */
  /* overflow: hidden scroll; */
}

.dayDate {
  text-align: center;
  color: var(--font-main-color);
  font-family: Inter;
  font-size: 20px;
}
