.form {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
}

.formTitle {
  color: var(--jedi-night);
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 125.1%;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.formControl {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.formControl label {
  color: rgba(121, 124, 123, 0.5);
  font-size: 14px;
  line-height: 1;
}

.input {
  border: none;
  height: 26px;
  background: none;
  color: var(--create-form-input-border);
  border-bottom: 1px solid var(--create-form-input-border-default);
  font-size: 16px;
  line-height: 1;
}

select.input {
  border: 1px solid var(--create-form-input-border-default);
  width: 60%;
  border-radius: 8px;
}

.input:focus {
  border-bottom: 1px solid var(--create-form-input-border);
}

.input:focus,
select.input:focus {
  outline: none;
}

.input.error {
  border-color: var(--warning-color);
}

.formAction {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.formAction button {
  height: 44px;
  gap: 8px;
}

.errorMessage {
  height: 17px;
  color: var(--warning-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
}
