.pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  margin: 20px 0;
  color: var(--pagination-color);
}

.pageItem a {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  color: var(--pagination-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125.1%;
}

.pageItem a:hover {
  background: #4dcbf2;
  color: var(--header-font-color);
}

.active a {
  background: #4dcbf2;
  color: var(--header-font-color);
}

.arrowButton {
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--pagination-color);
}

@media screen and (min-width: 768px) {
  .pagination {
    justify-content: flex-end;
  }
}
