.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 347px;
  z-index: 7;
  padding: 36px 18px;
  border-radius: 10px;
  background: var(--popup-bg-color);
}

.exitButton {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0px;
  border: none;
  background: none;
  outline: 0;
  color: var(--brn-font-color);
}

.exitButton:focus {
  outline: none;
}

@media screen and (min-width: 1280px) {
  .popup {
    max-width: 450px;
    padding: 50px 50px;
  }
  .exitButton {
    top: 15px;
    right: 20px;
  }
}
