.homeContainer {
  min-height: 100dvh;
  padding-top: 100px;
  padding-bottom: 80px;
  text-align: center;
}

.sectionHero {
  margin-bottom: 20px;
}

.createRoom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}
.createRoom button {
  height: 44px;
}
