.homeContainer {
  min-height: 100dvh;
  padding-top: 100px;
  padding-bottom: 80px;
  text-align: center;
}

.sectionHero {
  margin-bottom: 20px;
}

h1 {
  color: var(--font-main-color);
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 10px;
}

h3 {
  color: var(--font-main-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
  margin-bottom: 20px;
}

