.layout {
  min-height: 100vh;
  color: var(--font-main-color);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  position: relative;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  padding-top: 60px;
  padding-bottom: 60px;
  min-height: 100vh;
}
