.sectionPublic {
  padding-top: 40px;
}

h3 {
  color: var(--font-main-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.list > * {
  max-width: 300px;
}
