.filterBtn {
  transition: all 0.1s ease-in-out;
  color: var(--filter-btn);
}

.filterBtn:hover,
.filterBtn.active {
  color: var(--rbutton-primary-bg-hover);
}

.filters {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--filter-applied-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  text-transform: uppercase;
}

.resetBtn {
  font-size: 30px;
  background: none;
  border: none;
  color: var(--warning-color);
  cursor: pointer;
}
