.filterBtn {
  transition: all 0.1s ease-in-out;
}

.filterBtn:hover, .filterBtn.active {
  color: #00f0ff;
}

.filters {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 8px;
  color: #0e2030;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  text-transform: uppercase;
}

.resetBtn {
  font-size: 30px;
  background: none;
  border: none;
  color: #d7224d;
  cursor: pointer;
}
