.navLink {
  font-size: 20px;
  color: var(--navlink-color);
  background: none;
  border: none;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s ease;
  width: fit-content;
  cursor: pointer;
}

.navLink:hover {
  color: var(--navlink-hover-color);
}

.navLink:active {
  color: var(--navlink-hover-color);
}

.navLinkActive {
  color: var(--navlink-hover-color);
}

.navLinkDisabled,
.navLinkDisabled:hover,
.navLinkDisabled:active {
  cursor: not-allowed;
  color: var(--disabled);
}

.createRoom {
  padding: 4px 10px;
  max-width: fit-content;
}

@media screen and (min-width: 1280px) {
  .navLink {
    color: var(--header-font-color);
    font-size: 14px;
    text-transform: capitalize;
  }
  .navLinkDisabled,
  .navLinkDisabled:hover,
  .navLinkDisabled:active {
    cursor: not-allowed;
    color: var(--disabled);
  }
}
