.sectionPublic {
  padding-top: 40px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  color: var(--font-main-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
}

.content {
  min-height: 200px;
  position: relative;
}
