.sectionPublic {
  padding-top: 40px;
}

h2 button {
  display: inline-flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: none;
  border: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  width: max-content;
}

h3 {
  color: var(--font-main-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
}

.content {
  min-height: 200px;
  position: relative;
}
