.greetings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 45px;
}

.greetingsText {
  text-align: center;
  color: var(--brn-font-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 125.1%;
  text-transform: uppercase;
}

.greetingsAction {
  display: flex;
  width: 100%;
  justify-content: center;
}
