.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 56px;
  background-color: var(--header-bg-color);
  color: var(--header-font-color);
  z-index: 5;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.wrapThemLang {
  display: flex;
  gap: 12px;
}

.themeButton {
  color: var(--header-font-color)
}

.logoLink {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}

@media screen and (min-width: 768px) {
  .wrapThemLang {
    gap: 30px;
  }
}