.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.formControl {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.input {
  border: none;
  border-bottom: 1px solid var(--font-main-color);
  background-color: transparent;
  min-height: 40px;
  width: 100%;
  outline: none;
}

.input::placeholder {
  color: var(--font-main-color);
}

.warning {
  border-color: var(--warning-color);
}

.input.warning::placeholder {
  color: var(--warning-color);
}

.formText {
  color: var(--popup-primary-font-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 125.1%;
  text-transform: uppercase;
}

.formDesc {
  text-align: center;
  color: var(--font-main-color);
  font-size: 14px;
}

.formActions {
  margin-top: 18px;
}

.error {
  color: var(--warning-color);
  line-height: 125%;
  font-size: 14px;
  line-height: 18px;
  min-height: 36px;
}
