.listItem {
  max-width: 350px;
  position: relative;
  border-radius: 10px;
  border: 1px solid #8ef4ae;
  background: linear-gradient(
    126deg,
    rgba(6, 92, 166, 0.5) -6.97%,
    rgba(77, 203, 242, 0.5) 50.38%,
    rgba(123, 223, 229, 0.5) 97.9%
  );

  width: 100%;
  min-height: 180px;
  overflow: hidden;

  border-radius: 8px;
  transition: background 0.2s ease;

  &:hover {
    background: linear-gradient(
      119deg,
      rgba(5, 56, 101, 0.5) 1.19%,
      rgba(36, 143, 176, 0.5) 50.97%,
      rgba(67, 210, 219, 0.5) 100%
    );
  }
}

.listItem a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  height: 100%;
  padding: 15px 10px 16px;
  /* transition: padding 0.2s ease; */
}
.image {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.image img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.title {
  color: var(--text-room-card);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}

.description {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--text-room-card);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  text-transform: capitalize;
}

.topic {
  margin-top: 10px;
  margin-right: auto;
  padding: 2px 4px;
  width: fit-content;
  color: #0e2030;
  background-color: #f1fcf8;
  border-radius: 8px;
  text-align: left;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 125.1%; /* 20.016px */
  text-transform: capitalize;
}

.btnDelete {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  color: var(--font-main-color);
}

.member {
  position: absolute;
  display: flex;
  bottom: 16px;
  right: 10px;
  width: 25px;
  height: 25px;
  color: var(--text-room-card);
}

.users {
  position: absolute;
  top: 10px;
  right: 16px;
  color: var(--text-room-card);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 400;

  svg {
    width: 40px;
    height: 20px;
  }
}

.listItem:hover .btnDelete {
  display: block;
}

.listItem:hover .title,
.listItem:hover .description,
.listItem:hover .member,
.listItem:hover .users {
  color: var(--dark-white);
  transition: color 0.2s ease;
}

@media screen and (min-width: 768px) {
  .listItem {
    max-width: 100%;
  }

  .description {
    font-size: 18px;
  }

  .topic {
    font-size: 16px;
  }
}
