.wrapLoader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 48px;
  height: 48px;
}

.loader {
  width: 100%;
  height: 100%;
  border: 3px solid var(--dark-gray-1);
  border-radius: 50%;
  display: inline-block;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 16px);
  height: calc(100% + 16px);
  border-radius: 50%;
  border: 3px solid;
  border-color: var(--clean-pool) transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
