.sidebar {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 56px 16px 16px 16px;
  background-color: var(--sidebar-bg-color);
  box-shadow: 0px 4px 8.1px 8px rgba(11, 49, 82, 0.17);
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  transition: transform 0.5s ease;
}

.navigation {
  margin-bottom: 14px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.btnMenu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: -20%;
  top: 10px;
  color: var(--brn-font-color);
  background-color: var(--brn-background-color);
  display: flex;
  justify-content: center;
}

.btnClose {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 16px;
  display: flex;
  justify-content: center;
}

.userWrap {
  min-height: 164px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.userAvatarWrap {
  background-color: var(--gray);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  border: 1px solid var(--clean-pool);
}

.userAvatar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.userNick {
  max-width: 340px;
  width: 100%;
  color: var(--font-main-color);
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  word-wrap: break-word;
}

.navLink {
  font-size: 20px;
  color: var(--navlink-color);
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s ease;
  width: fit-content;
}

.navLink:hover {
  color: var(--navlink-hover-color);
}

.navLink:active {
  color: var(--navlink-hover-color);
}

.navLinkActive {
  color: var(--navlink-hover-color);
}

.wrapThemLang {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  width: 100%;
}

.bottomWrap {
  position: relative;
  width: 100%;
}
.bottomList {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 90px;
}
.logout {
  color: var(--brn-font-color);
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
}

.linkOurTeam {
  color: var(--navlink-color);
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s ease;
  position: relative;
}

.linkOurTeam::before {
  content: '';
  display: inline-block;
  background-color: var(--navlink-color);
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.linkOurTeam:hover::before {
  background-color: var(--navlink-hover-color);
}

.linkOurTeam:hover,
.linkOurTeam:active {
  color: var(--navlink-hover-color);
}

@media (min-width: 480px) {
  .sidebar {
    width: 380px;
  }
}
