.searchInput {
  width: 260px;
  height: 34px;
  border-radius: 8px;
  border: 1px solid var(--search-border);
  background: var(--search-bg);
  color: var(--search-border);
  padding: 0 15px 0 24px;
}

.searchInput:hover,
.searchInput:focus-visible,
.searchInput:focus {
  border: 1px solid var(--search-border-hover);
  color: var(--search-border-hoverr);
}

.searchInput::placeholder {
  color: var(--search-border);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.searchWrap {
  position: relative;
  color: var(--search-border);
}
.searchIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  color: var(--search-border);
}

.resetBtn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
  color: var(--search-border);
}
