.searchInput {
  width: 200px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid #0e2030;
  background: #f6f6f6;
  padding: 0 15px 0 24px;
}

.searchInput::placeholder {
  color: #0e2030;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.searchWrap {
  position: relative;
}
.searchIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
}

.resetBtn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}
