.roomDetails {
  position: absolute;
  top: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 100%;
  height: calc(100dvh - 103px);
  z-index: 10;
  background: var(--background-color);
  overflow: hidden;
  transition: all 0.3s ease;
  padding-bottom: 50px;
}

.container {
  padding: 16px;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.roomImage {
  background-color: rgb(247, 231, 210);
  height: 60px;
  position: relative;
}

.roomImage img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.roomTitle {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: var(--font-main-color);
  margin: 0;
}

.roomCreatedAt {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: var(--font-main-color);
  margin-top: 5px;
}

.roomDescription {
  font-size: 16px;
  text-align: center;
  color: var(--chat-details-desc-font-color);
  margin-top: 8px;
}

.close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  top: 8px;
  right: 16px;
  background: none;
  border: none;
  padding: 0;
  background-color: var(--background-color);
  border-radius: 8px;
  color: var(--font-main-color);
}

.members {
  margin-top: 24px;
  border: 1px solid var(--chat-details-members-border);
  padding-top: 12px;
  min-height: 100px;

  border-radius: 10px;
  color: var(--font-main-color);
  background-color: var(--chat-details-members-bg);
  
}

.membersTitle {
  text-align: center;
  font-size: 14px;
  text-transform: capitalize;
}

@media screen and (min-width: 480px) {
  .members {
    margin-top: 30px;
  }

  .roomDetails {
    top: -4px;
    right: 20px;
    left: auto;
    width: 307px;
    height: 70dvb;
    transform: none;
    border: 1px solid var(--olympus-white);
    border-radius: 8px;
  }
}
