.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  min-height: 48px;
  background-color: var(--footer-bg-color);
  color: var(--footer-font-color);
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
}

.version {
  text-transform: uppercase;
}

.linkOurTeam {
  display: none;
  color: var(--footer-font-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-decoration: none;
}

@media screen and (min-width: 1280px) {
  .linkOurTeam {
    display: block;
  }
}