.footer {
  min-height: 50px;
  background-color: var(--footer-bg-color);
  color: var(--footer-font-color);
}
.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
