.app {
  min-height: 100dvh;
  color: var(--font-main-color);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
