@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* COLORS */

  --white: #ffffff;
  --black: #000000;
  --black-2: #000e08;
  --dark-gray-1: #6c6969;
  --dark-gray: #414453;
  --gray: #d9d9d9;
  --dark-blue: #0f3a5a;
  --dark-blue-2: #0b3152;
  --green: #aeff57;
  --blue: #00f0ff;
  --light-blue: #f1fcf8;
  --red: #d7224d;

  /* theme dark */
  --background-color: var(--black);
  --font-main-color: var(--white);
  --font-secondary-color: var(--gray);
  --brn-background-color: var(--white);
  --brn-font-color: var(--black);
  --sidebar-bg-color: var(--black);
  --footer-bg-color: var(--gray);
  --footer-font-color: var(--black);
  --room-bg-color: var(--white);
  --room-font-color: var(--gray);
  --popup-bg-color: var(--dark-gray);
  --jbutton-bg-color: var(--green);
  --jbutton-bg-color-hover: var(--blue);
  --jbutton-font-color: var(--dark-blue-2);

  /* theme light */
  .lightTheme {
    --background-color: var(--white);
    --font-main-color: var(--dark-gray);
    --font-secondary-color: var(--black-2);
    --brn-background-color: var(--gray);
    --brn-font-color: var(--dark-gray);
    --sidebar-bg-color: var(--white);
    --header-bg-color: var(--dark-blue);
    --header-font-color: var(--white);
    --footer-bg-color: var(--dark-blue);
    --footer-font-color: var(--white);
    --room-bg-color: var(--gray);
    --room-font-color: var(--white);
    --jbutton-bg-color: var(--green);
    --jbutton-bg-color-hover: var(--blue);
    --jbutton-font-color: var(--dark-blue-2);
    --warning-color: var(--red);
    --popup-bg-color: var(--light-blue);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--brn-font-color);
  background-color: var(--brn-background-color);
  cursor: pointer;
  transition: border-color 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
}
button:hover {
  border-color: #646cff;
}

button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
