/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
:root {
  /* COLORS */

  --white: #ffffff;
  --black: #000000;
  --dark-white: #f6f6f6;
  --light-white: #f2f4f5;
  --jedi-night: #000e08;
  --dark-gray-1: #6c6969;
  --dark-gray: #414453;
  --gray: #d9d9d9;
  --dark-light-1: #a2a1a1;
  --dark-blue: #0f3a5a;
  --beyound-the-stars: #0b3152;
  --irradiated-green: #aeff57;
  --brain-freeze: #00f0ff;
  --clean-pool: #4dcbf2;
  --peptalk: #065ca6;
  --dawn-departs: #ccfcff;
  --distant-horizon: #f1fcf8;
  --cosmic-red: #d7224d;
  --counts-black: #0e2030;
  --candied-snow: #d8fff1;
  --black-is-back: #091813;
  --placebo-turquoise: #e7fff6;
  --river-styx: #161821;
  --alice-blue: #eef9fd;
  --trapped-darkness: #0e2030;
  --black-manga: #02101b;
  --cascading-white: #f6f6f6;
  --olympus-white: #d3d6d7;
  --industrial-revolution: #737373;

  /* theme dark */
  --background-color: var(--black-manga);
  --font-main-color: var(--white);
  --font-secondary-color: var(--gray);
  --brn-background-color: var(--white);
  --brn-font-color: var(--black);
  --header-bg-color: var(--dark-blue);
  --sidebar-bg-color: var(--black-manga);
  --footer-bg-color: var(--dark-blue);
  --footer-font-color: var(--white);
  --room-bg-color: var(--white);
  --room-font-color: var(--gray);
  --warning-color: var(--cosmic-red);
  --rbutton-bg-color: var(--irradiated-green);
  --rbutton-bg-color-hover: var(--brain-freeze);
  --rbutton-font-color: var(--beyound-the-stars);
  --rbutton-text-color: var(--counts-black);
  --rbutton-text-color-hover: var(--clean-pool);
  --popup-bg-color: var(--dark-gray);
  --room-header-bg-color: var(--candied-snow);
  --room-header-member-font-color: var(--black-is-back);
  --message-received-bg-color: var(--dawn-departs);
  --message-sent-bg-color: var(--placebo-turquoise);
  --message-input-bg-color: var(--dark-blue);
  --message-font-color: var(--river-styx);
  --text-users-typing-color: var(--gray);
  --chat-details-desc-font-color: var(--white);
  --navlink-color: var(--light-white);
  --navlink-hover-color: var(--clean-pool);
  --icon-lang-light: var(--alice-blue);
  --icon-lang-dark: var(--trapped-darkness);
  --icon-theme-light: var(--alice-blue);
  --icon-theme-dark: var(--trapped-darkness);
  --icon-light: var(--alice-blue);
  --icon-dark: var(--olympus-white);
  --page-room-bg-color: var(--black-manga);
  --border-chat-room: var(--room-header-bg-color);
  --private-room-header-color: #c5ddf6;
  --border-chat-room-private: var(--private-room-header-color);

  /* theme light */
  .lightTheme {
    --background-color: var(--dark-white);
    --font-main-color: var(--dark-gray);
    --brn-background-color: var(--gray);
    --brn-font-color: var(--dark-gray);
    --sidebar-bg-color: var(--dark-white);
    --header-bg-color: var(--dark-blue);
    --header-font-color: var(--white);
    --footer-bg-color: var(--dark-blue);
    --footer-font-color: var(--white);
    --room-bg-color: var(--gray);
    --room-font-color: var(--white);
    --jbutton-primary-bg: var(--irradiated-green);
    --rbutton-primary-bg-hover: var(--brain-freeze);
    --rbutton-primary-color: var(--beyound-the-stars);
    --jbutton-secondary-bg: transparent;
    --rbutton-secondary-bg-hover: var(--dawn-departs);
    --rbutton-secondary-color: var(--counts-black);
    --rbutton-text-color: var(--counts-black);
    --rbutton-text-color-hover: var(--clean-pool);
    --warning-color: var(--cosmic-red);
    --popup-primary-font-color: var(--jedi-night);
    --popup-bg-color: var(--cascading-white);
    --room-header-bg-color: var(--candied-snow);
    --room-header-member-font-color: var(--black-is-back);
    --message-received-bg-color: var(--dawn-departs);
    --message-sent-bg-color: var(--placebo-turquoise);
    --message-input-bg-color: var(--dark-blue);
    --text-users-typing-color: var(--gray);
    --chat-details-desc-font-color: var(--counts-black);
    --navlink-color: var(--counts-black);
    --navlink-hover-color: var(--clean-pool);
    --icon-lang-light: var(--alice-blue);
    --icon-lang-dark: var(--trapped-darkness);
    --icon-theme-light: var(--alice-blue);
    --icon-theme-dark: var(--trapped-darkness);
    --icon-light: var(--alice-blue);
    --icon-dark: var(--olympus-white);
    --page-room-bg-color: #a2a1a159;
    --border-chat-room: 'transparent';
    --private-room-header-color: #c5ddf6;
    --border-chat-room-private: var(--private-room-header-color);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100dvh;
  position: relative;
  font-family: 'Rubik', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
