.authPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  width: 100%;
  max-width: 400px;
  height: 300px;
  background-color: #fff;
  z-index: 3;
  padding: 15px 45px;
}
