.authPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 347px;
  background-color: #fff;
  z-index: 7;
  padding: 36px 28px;
  background: var(--popup-bg-color);
}

.exitButton {
  position: absolute;
  top: 5px;
  right: 10px;
  padding: 0px;
  border: none;
  background: none;
  outline: 0;
  color: var(--brn-font-color);
}

.exitButton:focus {
  outline: none;
}
