.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 48px;
  width: 100%;
  max-width: 979px;
  margin: 0 auto;
  background: var(--room-header-bg-color);
}

.headerPrivate {
  background: var(--private-room-header-color);
}

.headerWrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 979px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}

.name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--counts-black);
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.members {
  font-size: 10px;
  color: var(--room-header-member-font-color);
  opacity: 0.5;
}

.button {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0;
  background: none;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid var(--clean-pool);
  position: relative;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

@media (min-width: 480px) {
  .name {
    overflow: visible;
    text-overflow: ellipsis;
    max-width: 100%;
  }
}
