.avatarWrap {
  border-radius: 50%;
  background: transparent;
  border: none;
  cursor: pointer;
  width: 34px;
  height: 34px;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  background: var(--peptalk);
  box-shadow: none;
  border: 1px solid var(--clean-pool);
}

.avatarWrap:hover .avatar {
  box-shadow: 0 0 4px 2px var(--brain-freeze);
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btnSendPrivateMsg {
  position: absolute;
  bottom: 4px;
  left: 44px;
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid var(--dark-gray);
  background: var(--peptalk);
  color: var(--light-white);
  font-size: 16px;
  width: 200px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btnSendPrivateMsg:hover {
  background-color: var(--clean-pool);
  color: var(--counts-black);
}

.active {
  box-shadow: 0 0 4px 2px var(--brain-freeze);
}

.noActive:hover .avatar {
  box-shadow: none;
  cursor: auto;
}

.noActive {
  box-shadow: none;
  cursor: auto;
}
