.messageForm {
  padding: 28px 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.formWrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.textUsersTyping {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  color: var(--text-users-typing-color);
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.messageInput {
  width: 100%;
  height: 40px;
  font-size: 16px;
  resize: none;
  padding: 10px 8px;
  padding-right: 36px;
  background: var(--message-input-bg-color);
  color: #fff;
  border-radius: 5px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.messageInput::placeholder {
  color: #fff;
}

.messageInput::-webkit-scrollbar {
  display: none;
}

.send {
  position: absolute;
  bottom: 10px;
  right: 8px;
  padding: 0;
  background: none;
  color: white;
}
